html,
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	background-color: #282c34;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

nav li {
	list-style: none;
	margin-bottom: 10px;
}

.nav-logo {
	width: 30px;
}

.main-content {
	padding: 0 1rem;
}

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
}
